  <% if (user) { %>
            <!-- Logged In -->
            <header class="bg-white/10 backdrop-blur-lg border border-white/20 rounded-3xl p-8 shadow-2xl flex justify-between items-center">
                <h1 class="text-4xl font-bold tracking-tight">MembersOnly</h1>
               
                <div class="flex gap-6 ">
                     <select 
                class="bg-white/10 border border-white/20 px-6 py-3 rounded-2xl flex items-center justify-center gap-3"
                onchange="if (this.value) window.location.href = this.value;">
                             <option
                             class="bg-white/10 border border-white/20 px-6 py-3 rounded-2xl flex items-center gap-3 text-black" 
                             value="/">Posts</option>
                            <option
                            class="bg-white/10 border border-white/20 px-6 py-3 rounded-2xl flex items-center gap-3 text-black" 
                            value="/new-post">New</option>
            
                    </select>
                    <div class="bg-white/10 border border-white/20 px-6 py-3 rounded-2xl flex items-center gap-3">
                        <div class="w-9 h-9 bg-blue-600 rounded-full flex items-center justify-center font-semibold text-lg">
                            <%= user.username[0].toUpperCase() %>
                        </div>
                        <span class="font-medium text-lg"><%= user.username %></span>
                    </div>

                    <a href="/log-out" 
                       class="bg-red-600 hover:bg-red-700 transition-colors px-8 py-3 rounded-2xl flex items-center font-medium">
                        LOG OUT
                    </a>
                </div>
            </header>
           
        <% } else { %>
            <!-- Not Logged In -->
           <header class="bg-white/10 backdrop-blur-lg border border-white/20 rounded-3xl p-8 shadow-2xl flex justify-between items-center">
                <h1 class="text-4xl font-bold tracking-tight">MembersOnly</h1>
                
                <div class="flex items-center gap-6">
                       <a href="/" 
                       class="bg-white/10 border hover:bg-white/5 border-white/20 px-6 py-3 rounded-2xl flex items-center gap-3">
                        POSTS
                    </a>
                    <a
                    href="/log-in" 
                    class="bg-white/10 hover:bg-white/5 border border-white/20 px-6 py-3 rounded-2xl flex items-center gap-3">
                        SIGN IN
                    </a>

                    <a href="/sign-up" 
                       class="bg-red-600 hover:bg-red-700 transition-colors px-8 py-3 rounded-2xl font-medium">
                      SIGN UP
                    </a>
                </div>
            </header>
        <% } %>