<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Document</title>
     <link rel="stylesheet" href="/css/output.css">
</head>
<body>
      <h3 class="text-2xl font-bold text-pink-600 text-center">Are You Sure You Want To Delete This Movie?</h3>
      <h1>Hello Motherfucker</h1>
</body>
</html>