<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
     <link rel="stylesheet" href="/css/output.css">
</head>
<body class="min-h-screen  bg-gradient-to-br from-gray-900 to-gray-800  p-8 text-white">
    <div class="max-w-4xl mx-auto ">
         <%-include('header', {user: locals.user}) %>
         <div class="max-w-md mx-auto mt-20">
               
               
                <div class="bg-white/10 backdrop-blur-lg border border-white/20 rounded-3xl p-10 shadow-2xl">
                      <%-include("./partials/error.ejs") %>
                    <form action="/log-in" method="POST" class="space-y-6">
                        <div>
                            <label for="username" class="block text-sm font-medium mb-2 text-gray-300">Username</label>
                            <input 
                                id="username" 
                                name="username" 
                                type="text" 
                                placeholder="Enter username"
                                class="w-full bg-white/10 border border-white/20 rounded-2xl px-5 py-4 text-white placeholder-gray-500 focus:outline-none focus:border-blue-500 transition">
                        </div>

                        <div>
                            <label for="password" class="block text-sm font-medium mb-2 text-gray-300">Password</label>
                            <input 
                                id="password" 
                                name="password" 
                                type="password" 
                                placeholder="Enter password"
                                class="w-full bg-white/10 border border-white/20 rounded-2xl px-5 py-4 text-white placeholder-gray-500 focus:outline-none focus:border-blue-500 transition">
                        </div>

                        <button type="submit"
                                class="w-full bg-blue-600 hover:bg-blue-700 transition-colors py-4 rounded-2xl font-semibold text-lg">
                            Sign In
                        </button>
                    </form>
                </div>
    </div>

    </div>
</body>
</html>